body{
    background: rgb(151, 42, 23);
}

ul{
    list-style-type: none;
    background-color: red;
    text-align: center;
}

li{
    display: inline-block;
}

li a{
    display: block;
    color: white;
    padding: 14px;
    text-decoration: none;
}

li a:hover{
    background-color:brown;
}

h1{
    font-family:"Arial Black";
}

.heading{
    background-color: rgb(255, 94, 94);
}

#head1{
    background-color: rgb(43, 204, 43);
}

#head2{
    background-color: rgb(216, 69, 216);
}

.isi{
    color: rgb(255, 152, 152) ;
}

#isi2{
    color: plum;
}

h2{
    color: aliceblue;

}

.about{
    text-align: right;
}

p{
    text-align: right;
}